# Python
__pycache__


# Haskell
.stack-work
.history/
python/.DS_Store
.DS_Store
dist-newstyle/.DS_Store
python/pythonProject1/.DS_Store
scr/.DS_Store
test/.DS_Store
python/pythonProject1/generated/
python/__pycache__/
python/pythonProject1/experiments/
